<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css"
      integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="display: flex; justify-content: center; align-items: center; margin-top: 100px;">
      <form th:object="${kendaraan}" method="post" th:action="@{/update}" style="border: 2px solid black; padding: 10px;">
        <h1>Edit Data Kendaraan</h1>
        <div style="display: flex;">
          <div class="form-group" style="width: 250px; margin-top: 10px; ">
            <label for="">No Registrasi</label>
            <input type="text" class="form-control" th:field="*{noRegistrasi}"/>
            <label for="">Nama Pemilik</label>
            <input type="text" class="form-control" th:field="*{namaPemilik}"/>
            <label for="">Merek Kendaraan</label>
            <input type="text" class="form-control" th:field="*{merek}"/>
            <label for="">Alamat Pemilik</label>
            <textarea
              name=""
              id=""
              cols="30"
              rows="5"
              class="form-control"
              th:field="*{alamat}"
            ></textarea>
          </div>
          <div class="form-group " style="width: 250px; margin-top: 10px; margin-left: 30px;">
            <label for="">Tahun Pembuatan</label>
            <input type="text" class="form-control" th:field="*{tahun}"/>
            <label for="">Kapasitas Silinder</label>
            <input type="text" class="form-control" th:field="*{kapasitasSilinder}"/>
            <label for="">Warna Kendaraan</label>
            <select name="" id="" class="form-control" th:field="*{warna}">
              <option value="merah">merah</option>
              <option value="hitam">hitam</option>
              <option value="biru">biru</option>
              <option value="abu abu">abu abu</option>
            </select>
            <label for="">Bahan Bakar</label>
            <input type="text" class="form-control" th:field="*{bahanBakar}">
            <input type="hidden" th:field="*{kendaraan.id}">
          </div>
        </div>
        <button class="btn btn-primary" type="submit">simpan</button>
        <button class="btn btn secondary ms-2">kembali</button>
    </form>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
